$background-color: #d3d6d8;
$text-color: #424242;
$text-dark-color: #221f1f;
$text-light-color: #e0e0e0;
$navbar-color: #a3c5bb;
$navbar-dark-color: #8aa89f;
$header-text-back-color: rgb(194, 211, 211, 0.6);
$background-color-gray: rgb(136, 136, 136);
$text-hover-color: #d39c5e;
$footer-color: rgb(90, 90, 90);

// media Query Mangaer
/*
0-600px: Phone
600-915px: Tablet portrait
915-1200px: tablet landscape
[1200-1800] is where our normal styles apply
1800x + : Big Desktop

/***************page-1*************/
* {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 20;
  margin: 20;
  background-color: $background-color;
}

.page-1 {
  max-width: 100%;
  height: 100vh;

  @media (max-width: 1050px) {
    height: 150vh;
  }
  @media (max-width: 900px) {
    height: 100vh;
  }

  @media (max-width: 500px) {
    height: 100vh;
  }

  @media (max-width: 350px) {
    height: 95vh;
  }
  @media (max-width: 330px) {
    height: 125vh;
  }

  @media (max-width: 280px) {
    height: 125vh;
  }
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  gap: 2rem;
  padding: 0.5rem 1% 0.5rem 5%;
  margin-top: 1rem;
  background-color: $navbar-color;
  z-index: 100;
  @media (max-width: 1200px) {
    gap: 1rem;
    width: 70%;
  }
  @media (max-width: 915px) {
    gap: 1rem;
    width: 80%;
  }
  @media (max-width: 600px) {
    gap: 0.5rem;
    width: 90%;
  }

  @media (max-width: 415px) {
    width: 100%;
    gap: 0.5rem;
    height: 5rem;
    padding: 1.5rem 1% 0.5rem 5%;
  }
  @media (max-width: 280px) {
    padding-top: 2.5rem;
  }

  &-text {
    font-size: 1.5rem;
    text-decoration: none;
    color: $text-color;
    @media (max-width: 600px) {
      font-size: 1rem;
    }

    &:hover {
      color: $text-hover-color;
      text-decoration: underline;
      scale: (1.1);
      transition: all 0.1s;
    }

    &-sosyalMedya {
      width: 3rem;
      font-size: 1rem;
      text-decoration: none;
      color: $text-color;
      @media (max-width: 915px) {
        padding-left: 2rem;
      }
      @media (max-width: 415px) {
        font-size: 0.75rem;
        padding-left: 1rem;
      }
      @media (max-width: 280px) {
        padding-left: 0;
      }
      &:hover {
        color: #b05a7a;
        text-decoration: underline;
        scale: (1.1);
        transition: all 0.1s;
      }
    }
    &-home {
      position: absolute;
      top: -5;
      left: 1rem;
      font-size: 1rem;
      text-decoration: none;
      color: $text-color;
      font-family: cursive, "Arial Narrow", Arial, sans-serif;
      @media (max-width: 915px) {
        font-size: 0.7rem;
      }
      @media (max-width: 415px) {
        font-size: 0.75rem;
        top: 0.5rem;
      }
      @media (max-width: 500px) {
        font-size: 0.55rem;
        top: 0.3rem;
        left: 1rem;
      }
      &:hover {
        color: #b05a7a;
        text-decoration: underline;
        scale: (1.1);
        transition: all 0.1s;
      }
      & i {
        float: right;
        font-size: 1.6rem;
        @media (max-width: 915px) {
          font-size: 1.2rem;
        }
        @media (max-width: 415px) {
          font-size: 1rem;
          float: none;
        }
      }
    }
  }
}

.mainImg {
  position: relative;
  padding-top: 3rem;
  width: 95%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    transform: translateY(2rem);
  }

  @media (max-width: 915px) {
    scale: (1.2);
  }

  @media (max-width: 600px) {
    scale: (1.3);
  }

  &-header {
    width: 15rem;
    font-size: 1rem;
    position: absolute;
    padding: 2rem;
    top: 15%;
    left: 14%;
    color: $text-color;
    background-color: $header-text-back-color;
    border-radius: 1rem;
    @media (max-width: 1200px) {
      left: 7%;
    }
    @media (max-width: 915px) {
      margin-top: 40px;
      height: 90%;
      color: $text-dark-color;
      font-size: 0.8rem;
    }
    @media (max-width: 600px) {
      font-size: 0.5rem;
      width: 30%;
      height: 85%;
      left: 12%;
      top: 12%;
    }
    @media (max-width: 415px) {
      font-size: 0.5rem;
      width: 40%;
      height: 120%;
      left: 11%;
      top: 14%;
    }
    @media (max-width: 350px) {
      width: 50%;
      height: 120%;
      left: 11%;
      top: 14%;
    }
    &-2 {
      width: 14rem;
      font-size: 2.5rem;
      font-weight: 300;
      position: absolute;
      padding: 1rem;
      top: 20%;
      right: 20%;
      border-radius: 1rem;
      background-color: $header-text-back-color;
      @media (max-width: 1200px) {
        top: 30%;
        right: 12%;
      }
      @media (max-width: 600px) {
        top: 45%;
        right: 10%;
        font-size: 1.5rem;
        width: 20%;
        height: 15%;
        padding: 0.5rem;
      }
      @media (max-width: 415px) {
        top: 30%;
        height: 20%;
        width: 30%;
      }
      @media (max-width: 350px) {
        font-size: 1rem;
        top: 32%;
        right: 2rem;
        width: 20%;
        height: 25%;
      }
    }
    & i {
      padding-top: 1rem;
      float: right;
    }
    @media (max-width: 350px) {
      padding-top: 0;
    }
  }

  &-text {
    position: relative;
    margin: 0.5rem auto 2rem auto;
    max-width: 60%;
    font-size: 1.3rem;
    background-color: $navbar-dark-color;
    padding: 2rem;
    @media (max-width: 1200px) {
      margin-top: 10rem;
      max-width: 70%;
    }
    @media (max-width: 915px) {
      margin-top: 15rem;
      max-width: 80%;
    }
    @media (max-width: 600px) {
      max-width: 90%;
    }
    @media (max-width: 415px) {
      max-width: 100%;
      height: 40%;
      font-size: 1.1rem;
    }
    &-author {
      position: absolute;
      top: 5.8rem;
      right: 1rem;
      font-size: 1.2rem;
    }
    & i {
      float: right;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
.mainImg img {
  width: 55%;
  display: block;
  margin: 0 auto;
  @media (max-width: 415px) {
    width: 60%;
  }
}

/***************page-2*************/

/*history page */

.page-2 {
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(136, 136, 136);
  padding-top: 4rem;

  @media (max-width: 1300px) {
    height: 120vh;
    padding: 1rem;
  }
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 915px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
  @media (max-width: 500px) {
    height: 120vh;
  }
  @media (max-width: 415px) {
    width: 100%;
    height: 210vh;
  }
  @media (max-width: 390px) {
    height: 210vh;
  }

  @media (max-width: 375px) {
    height: 200vh;
  }
}
.history-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;

  @media (max-width: 1200px) {
    padding: 1rem 2rem;
  }
  @media (max-width: 600px) {
    padding: 1rem 1rem;
  }
  @media (max-width: 415px) {
    grid-template-columns: 1fr;
  }

  &-text {
    max-width: 450px;
    text-align: justify;
    line-height: 1.75rem;
    color: $text-light-color;
    @media (max-width: 915px) {
      font-size: 1rem;
      line-height: 1.2rem;
    }
    @media (max-width: 600px) {
      font-size: 0.9rem;
      line-height: 1rem;
    }
    & i {
      float: right;
      font-size: 1rem;
    }
  }
}
.history-img {
  max-width: 65%;

  &.history-img-1 {
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px #424242;
    @media (max-width: 915px) {
      max-width: 90%;
    }
  }
  &.history-img-2 {
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px #424242;
    @media (max-width: 915px) {
      max-width: 90%;
    }
  }
  &.history-img-3 {
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px #424242;
    @media (max-width: 915px) {
      max-width: 90%;
    }
  }
}
.history-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**********page-3**********/
/*video-page*/

.page-3 {
  height: 125vh;

  @media (max-width: 1300px) {
    height: 160vh;
  }
  @media (max-width: 1050px) {
    height: 210vh;
  }
  @media (max-width: 900px) {
    height: 130vh;
  }

  @media (max-width: 415px) {
    height: 320vh;
  }

  @media (max-width: 395px) {
    height: 320vh;
  }
  @media (max-width: 375px) {
    height: 330vh;
  }
  @media (max-width: 350px) {
    height: 190vh;
  }
  @media (max-width: 330px) {
    height: 330vh;
  }

  @media (max-width: 280px) {
    height: 250vh;
  }
}
.video-page-container {
  height: 100vh;
  padding-top: 6rem;
  width: 60%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 915px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: 90%;
    padding-top: 5rem;
  }

  @media (max-width: 415px) {
    padding-top: 8rem;
    width: 100%;
  }
}

.video {
  &-pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    filter: saturate(0.75);
    @media (max-width: 415px) {
      grid-template-columns: 1fr;
    }
  }

  &-text {
    display: flex;
    padding: 1rem 0 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    @media (max-width: 600px) {
      font-weight: 400;
      padding: 0.5rem 0 0.5rem 0;
    }
  }
}
.videos {
  margin: 0 auto;
  padding: 0 1rem;
  &-single {
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
}

/**********page-4***********/
/* foto-page-*/

.page-4 {
  height: 100vh;
  @media (max-width: 600px) {
    height: 100vh;
  }
}
.foto-page-container {
  &-width {
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    background-color: $background-color-gray;
    position: relative;
    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 915px) {
      width: 80%;
    }
    @media (max-width: 600px) {
      width: 90%;
    }
  }
  & img {
    border-radius: 0.3rem;
    outline: 2px solid rgb(77, 76, 76);
  }
  &-all {
    // display: flex;
    padding: 15rem 4rem 0 4rem;
    // align-items: center;
  }
  &-left {
    float: left;
    height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  &-right {
    float: right;
    height: 50vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.foto_author {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-weight: 400;
}
.fa-sharp.fa-solid.fa-arrow-up {
  transform: rotate(-90deg);
}
.fa-sharp.fa-solid.fa-arrow-down {
  transform: rotate(-90deg);
}

.bigFoto {
  max-height: 60vh;
  max-width: 100%;
}
.smallFoto {
  width: 60%;
  &-1 {
    cursor: pointer;
    padding-top: 20rem;
  }
}
#smallFoto1 {
  cursor: pointer;
}
#smallFoto2 {
  cursor: pointer;
}
#smallFoto3 {
  cursor: pointer;
}

.foto-page-button {
  &-left {
    width: 17rem;
    font-size: 1.7rem;
    display: flex;
    position: absolute;
    top: 50%;
    left: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    color: $text-color;
    cursor: pointer;
    i:hover {
      color: $text-hover-color;
    }

    @media (max-width: 600px) {
      position: absolute;
      top: 13rem;
      right: 6rem;
      width: 55%;
    }
    @media (max-width: 415px) {
      position: absolute;
      top: 10rem;
      right: 3rem;
      width: 70%;
    }
  }

  &-right {
    width: 5rem;
    font-size: 1.7rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 85%;
    left: 62%;
    margin: 0 auto;
    color: $text-color;
    cursor: pointer;
    i:hover {
      color: $text-hover-color;
    }
  }
}

/*****page-5*********/

/*kitap-page*/

.page-5 {
  height: 125vh;
  @media (max-width: 1300px) {
    height: 165vh;
  }

  @media (max-width: 1050px) {
    height: 190vh;
  }
  @media (max-width: 900px) {
    height: 120vh;
  }
  @media (max-width: 600px) {
    height: 230vh;
  }
  @media (max-width: 500px) {
    height: 225vh;
  }
  @media (max-width: 415px) {
    height: 550vh;
  }

  @media (max-width: 375px) {
    height: 580vh;
  }
  @media (max-width: 330px) {
    height: 550vh;
  }

  @media (max-width: 280px) {
    height: 420vh;
  }
}
.kitap-page {
  &-main-container {
    padding-top: 5rem;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 915px) {
      width: 80%;
    }
    @media (max-width: 600px) {
      width: 90%;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 415px) {
      width: 100%;
      grid-template-columns: 1fr;
      padding-top: 7rem;
    }
  }
  &-small-container {
    position: relative;
    padding: 1rem;
    background-color: #424242;
    color: #d3d6d8;
    margin: 0.45rem;
    border-radius: 5px;
    @media (max-width: 600px) {
      height: 80%;
    }
    @media (max-width: 415px) {
      height: 95%;
    }

    img {
      float: left;
      margin-right: 1rem;
      border-radius: 5px;

      @media (max-width: 1200px) {
        max-width: 50%;
        max-height: 50%;
      }
      @media (max-width: 915px) {
        max-width: 50%;
        max-height: 40%;
      }
      @media (max-width: 600px) {
        max-height: 30%;
        margin-bottom: 1rem;
      }
      @media (max-width: 415px) {
        max-height: 40%;
      }
    }
    h4 {
      text-transform: uppercase;
      font-size: 1rem;
      @media (max-width: 915px) {
        font-size: 0.75rem;
      }
    }
    p {
      font-size: 1rem;
    }
    &-text {
      max-height: 13.5rem;
      overflow: hidden;
      font-size: 0.75rem;
      @media (max-width: 915px) {
        max-height: 13rem;
      }
      @media (max-width: 600px) {
        max-height: 12.5rem;
        width: 100%;
      }
      @media (max-width: 415px) {
        max-height: 10rem;
      }
    }
    &-devami {
      position: absolute;
      bottom: 0;
      right: 1rem;
      padding: 0.2rem;
      cursor: pointer;
    }
  }
}

/*sosyal-medya-page*/

.page-6 {
  height: 100vh;
}

.sosyal-page {
  &-main-container {
    width: 60%;
    background-color: $background-color-gray;
    margin: 0 auto;
    height: 100vh;

    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 915px) {
      width: 80%;
    }

    @media (max-width: 415px) {
      width: 100%;
      padding-top: 6rem;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 6rem;
    gap: 1rem;
    @media (max-width: 415px) {
      grid-template-columns: 1fr 50fr 1fr;
      padding: 1rem;
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr 10fr 1fr;
    }

    &-1 {
      background-color: gray;
      border-radius: 1rem;
      transform: scale(0.9);
    }
    &-2 {
      filter: brightness(0.85);
    }
    &-3 {
      background-color: gray;
      border-radius: 1rem;
      transform: scale(0.9);
    }
  }
  &-footer {
    margin: 0 auto;
    padding: 2rem;
    background-color: $text-color;
    width: 100%;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    color: $navbar-color;
    line-height: 2rem;
    font-size: 1rem;
    @media (max-width: 415px) {
      font-size: 0.75rem;
      padding: 1rem;
    }
  }
}
